body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
html, body {
  width: 100%;
  height: 100%;
}

header {
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 600;
  font-weight: 700;
}
header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s;
  display: inline-block;
  transform: scale(1);
  margin: 0 10px;
}
header a:hover {
  color: #EEE;
  transform: scale(1.1);
}

#body {
  position: fixed;
  top: 50px;
  bottom: 50px;
  left: 50px;
  right: 50px;
  z-index: 500;
  background: #a59393ad;

  display: flex;
  flex-direction: column;

  color: white;
  font-family: 'Montserrat', sans-serif;
}
#body::before, #body::after {
  content: '';
  display: block;
  height: 2px;
  background: #edddce;
  margin: -12px 0;
}

#body::after {
  position: fixed;
  bottom: 50px;
  left: 50px;
  right: 50px;
}

#profile {
  background-image: url(profile.jpg);
  background-size: 100%;
  border-radius: 1000px;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  flex: 0 0 auto;
  transition: all 0.5s;
  opacity: 1;
  margin-top: 50px;
}

.content #profile {
  opacity: 0;
  margin-top: -90px;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  font-size: 69px;
  text-align: center;
  font-weight: 700;
  transition: all 0.5s;
}

.content h1 {
  margin-top: 10px; 
}

#hero {
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  font-size: 24px;
  opacity: 1;
  transition: all 0.5s;
}

.content #hero {
  opacity: 0;
  margin-top: -20px;
}

#content {
  overflow: auto;
  flex-grow: 1;
  transition: all 0.5s;
  white-space: nowrap;
}

.content #content {
  top: 150px;
}

#intro {
  transition: all 0.5s;
  opacity: 1;
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.content #intro {
  opacity: 0;
}

.page {
  transition: all 0.5s;
  opacity: 0;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  margin-left: -100%;
}

.career #career {
  opacity: 1;
}

.projects #projects {
  opacity: 1;
}

.leftCol, .rightCol {
  width: 49%;
  display: inline-block;
  vertical-align: top;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 40px;
}
.leftCol {
  text-align: right;
}
.rightCol {
}

h4 {
  margin-top: 0;
}

@media (max-width: 500px) {
  h1 {
    font-size: 48px;
  }
  #hero {
    font-size: 16px;
  }
}

footer {
  position: fixed;
  bottom: 0;
  z-index: 500;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 30px;
}
footer a {
  color: white;
}


/* Background */

#background-container {
  height: 100%;
  overflow: hidden;
}

#background {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#backgroundphoto {
  width: 100vw; 
  height: 56.25vw; /* height:width ratio = 9/16 = .5625  */
  background: pink;
  min-height: 100vh;
  min-width: 177.78vh; /* 16/9 = 1.778 */
  margin: auto;
  position: absolute;
  top:0;bottom:0; /* vertical center */
  left:0;right:0; /* horizontal center */
  /*position: relative;*/
  background-image: url(background.jpg);
  background-size: 100%;
}
#container {
  position: absolute;
  left: -100%;
  right: -100%;
  top: 0;
  bottom: 0;
}
.overlay {
  background-image: url(background.jpg);
  background-size: 100%;
  position: absolute;
  top:0;bottom:0; /* vertical center */
  left:0;right:0; /* horizontal center */
  opacity: 1;
}
#fadeoverlay {
  transition: opacity 1s;
  transition-delay: 2s;
  z-index: 100;

}
#fastoverlay {
  display: none;
  z-index: 70;
}
iframe {
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 50%;
}
#fade {
  position: absolute;
  z-index: 50;
  bottom: 0;
  left: 0;
  width: 53.7345513%;
  height: 57.4085768%;
}

@media (max-width: 800px) {
  #backgroundphoto {
  }
}
